:root {
    --primary-color: #FF69B4;
    --accent-color: #FF85C1;
    --header-text: #2E2E2E;
    --plain-text: #4F4F4F;
    --white-bg: #F8F8F8;
    --pink-bg: #FFF5F7;
}

body {
    margin: 0;
}
h1, h2, h3, p {
    margin: 0;
}
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
h3 {
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
}
p, li {
    font-family: 'Source Sans 3', sans-serif;
    font-weight: 400;
}
a {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--primary-color);
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-bg);
}
.header h1 {
    margin: 0;
}
.nav {
    display: flex;
    justify-content: center;
    background-color: var(--primary-color);
    padding: 10px 0;
    padding-right: 20px;
    position: relative;
    top: 0;
    z-index: 1000;
    position: relative;
    top: 0;
    transition: max-height 0.3s ease; 
    overflow: hidden; 
    max-height: 200px; 
}
.nav.collapsed {
    display: none;
}
.nav a {
    margin-left: 15px;
    color: var(--white-bg);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    position: relative;
}
.nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--white-bg);
    transition: width .3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}
.nav a:hover::after {
    width: 100%;
}
.nav-toggle {
    background: none;
    border: none;
    color: var(--white-bg);
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
    display: none;
}

.work {
    position: relative;
    margin-top: 65px;
    background-color: var(--pink-bg);
    width: auto;
    padding: 10px;
    box-shadow: 0 2px 0 #ccc;
    overflow: hidden;
}

.work::before {
    content: '';
    position: absolute;
    top: 0; 
    right: 0; 
    width: 150px; 
    height: 150px; 
    background-color: var(--accent-color);
    opacity: 0.3;
    transform: rotate(30deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.work::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100px; 
    height: 100px; 
    background-color: var(--accent-color);
    opacity: 0.3; 
    transform: rotate(-45deg); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.work h1, h2 {
    color: var(--header-text);
}
.work p, li {
    color: var(--plain-text);
}
.organization {
    position: relative; 
    background-color: var(--white-bg);
    width: auto;
    padding: 10px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.organization::before {
    content: '';
    position: absolute;
    top: 0; 
    right: 0; 
    width: 150px; 
    height: 150px; 
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.3;
    transform: rotate(30deg);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.organization::after {
    content: '';
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100px; 
    height: 100px; 
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0.3; 
    transform: rotate(-45deg); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}

.organization h1, h2 {
    color: var(--header-text);
}
.organization p, li {
    color: var(--plain-text);
}

.timeline {
    position: relative;
    padding: 20px 0;
}

.timeline-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.timeline-icon {
    flex: 0 0 50px;
    margin-right: 15px;
}

.timeline-icon img {
    max-width: 50px; 
    max-height: 50px; 
    width: 100%; 
    height: auto; 
    display: block; 
    object-fit: contain;
}

.timeline-content {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.timeline-content:hover {
    background-color: rgba(255, 133, 193, 0.8);;
}

.timeline-item:nth-child(odd) .timeline-icon {
    margin-left: 15px;
}

.timeline-item:nth-child(even) .timeline-icon {
    margin-right: 15px;
}
.timeline-divider {
    border: none;
    height: 1px;
    background-color: var(--accent-color); 
    margin: 10px 0; 
}
.badge {
    background-color: var(--primary-color);
    color: white;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 12px;
    margin-left: 10px;
}

.footer {
    background-color: #2A002E;
    color: var(--white-bg);
    text-align: center;
    padding: 20px;
}
.footer h3, p, a {
    margin-bottom: 10px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 10px;
}
.footer-divider {
    border: none;
    height: 2px;
    background-color: var(--accent-color);
    margin: 0 0 20px;
}
.footer-heading {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}
.contact-info, .social-media {
    flex: 1;
    margin: 0 10px;
}
.social-media a {
    margin: 0 10px;
    color: var(--white-bg);
    font-size: 24px;
}
.social-media a:hover {
    color: #FF1493; 
}
.highlight {
    font-weight: bold;
    color: var(--primary-color);
}
.hidden {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.slide-in-left {
    animation: slide-in-left 0.5s forwards, shadow-in 0.5s forwards;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in-right {
    animation: slide-in-right 0.5s forwards, shadow-in 0.5s forwards;
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
    to {
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }

    .nav a {
        margin: 5px 0; 
    }

    .nav-toggle {
        display: block;  
    }

    .work {
        margin-top: 100px;
    }

    .footer-content {
        flex-direction: column; 
        align-items: center; 
    }

    .footer-content > div {
        margin-bottom: 20px; 
    }
}